MoneyProcessor/ConsoleMoneyTransform/bin/Debug/ConsoleMoneyTransform.exe.config
MoneyProcessor/ConsoleMoneyTransform/bin/Debug/ConsoleMoneyTransform.vshost.exe
MoneyProcessor/ConsoleMoneyTransform/bin/Debug/ConsoleMoneyTransform.vshost.exe.config
MoneyProcessor/ConsoleMoneyTransform/bin/Debug/ConsoleMoneyTransform.vshost.exe.manifest
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/ConsoleMoneyTransform.csproj.FileListAbsolute.txt
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/HAPIcon.png
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/HtmlAgilityPack.1.4.9.nupkg
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net20/HtmlAgilityPack.dll
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net20/HtmlAgilityPack.pdb
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net20/HtmlAgilityPack.xml
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net40-client/HtmlAgilityPack.dll
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net40-client/HtmlAgilityPack.pdb
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net40-client/HtmlAgilityPack.xml
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net40/HtmlAgilityPack.dll
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net40/HtmlAgilityPack.pdb
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net40/HtmlAgilityPack.XML
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net45/HtmlAgilityPack.dll
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net45/HtmlAgilityPack.pdb
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/Net45/HtmlAgilityPack.XML
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/NetCore45/HtmlAgilityPack.dll
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/NetCore45/HtmlAgilityPack.pdb
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/NetCore45/HtmlAgilityPack.pri
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/NetCore45/HtmlAgilityPack.xml
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.dll
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/portable-net45+netcore45+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.pdb
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.dll
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/portable-net45+netcore45+wpa81+wp8+MonoAndroid+MonoTouch/HtmlAgilityPack.pdb
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/sl3-wp/_._
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/sl4/HtmlAgilityPack.dll
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/sl4/HtmlAgilityPack.pdb
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/sl4/HtmlAgilityPack.XML
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/sl5/HtmlAgilityPack.dll
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/sl5/HtmlAgilityPack.XML
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/readme.txt
MoneyProcessor/packages/HtmlAgilityPack.1.4.9/lib/sl5/HtmlAgilityPack.pdb
MoneyProcessor/ConsoleMoneyTransform/bin/Debug/Assets/source.txt
MoneyProcessor/ConsoleMoneyTransform/bin/Debug/ConsoleMoneyTransform.exe
MoneyProcessor/ConsoleMoneyTransform/bin/Debug/ConsoleMoneyTransform.pdb
MoneyProcessor/ConsoleMoneyTransform/bin/Debug/HtmlAgilityPack.dll
MoneyProcessor/ConsoleMoneyTransform/bin/Debug/HtmlAgilityPack.pdb
MoneyProcessor/ConsoleMoneyTransform/bin/Debug/HtmlAgilityPack.xml
MoneyProcessor/MoneyProcessor.v12.suo
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/TempPE/Resource.Designer.cs.dll
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/ConsoleMoneyTransform.Resource.resources
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/ConsoleMoneyTransform.pdb
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/ConsoleMoneyTransform.exe
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/ConsoleMoneyTransform.csprojResolveAssemblyReference.cache
MoneyProcessor/ConsoleMoneyTransform/obj/Debug/ConsoleMoneyTransform.csproj.GenerateResource.Cache
MoneyProcessor/ConsoleMoneyTransform/bin/Debug/Assets/buy_source.txt
MoneyProcessor/ConsoleMoneyTransform/bin/Debug/Assets/sell_source.txt